*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    display: flex;
}

.container{
    background: rgb(255,255,255);
background: linear-gradient(rgba(255,255,255,1), rgba(246,247,251,1));
    max-width: 340px;
    margin: auto;
    min-height: 650px;
}
    header{
        display: flex;
        align-items: center;
        padding: 15px;
        gap:5px;
        justify-content: space-between;
    }
    
    .img-profile{
        max-width: 33px;
        min-width: 20px;
    }
    .img-logo{
        max-width:84px;
         min-width: 60px;
    }
    .img-chat{
     max-width: 34px;   
      min-width: 20px;
    }
    
    main{
        overflow: hidden;
    }
    
    .container-img{
        padding: 8px;
        position:relative;
    }
    
    #badge{
        position: absolute;
        top:45px;
        left: 20px;
    }
    
    #badge img{
        transform: rotate(-30deg);
        width: 140px;
        animation: aparecer 0.2s;
    }
    
    @keyframes aparecer{
        0%{width: 0px;}
        100%{width: 140px;}
    }
    
    .text-image{
        position:absolute;
        bottom:30px;
        left:25px;
        color:white;
    }
    
    .text-image h2{
        font-size:2rem;
        margin:0;
        margin-bottom:5px;
    }
    .text-image p{
        width: 85%;
        color:#B7B7B7;
    }
    
    @keyframes moverIzq{
        0%{left:0;transform: rotate(0deg);}
        50%{transform: rotate(-10deg)}
        100%{left:-1000px;}
    }
    @keyframes moverDer{
        0%{left:0;transform: rotate(0deg);}
        50%{transform: rotate(10deg)}
        100%{left:1000px;}
    }
    
    .img-dog{
        width: 100%;
        border-radius: 15px;
    }
    
    footer{
        display: flex;
        justify-content: center;
        gap:24px;
        margin-bottom:20px;
        margin-top:5px;
    }
    
    .btn{
        border:none;
        background-color: white;
        width: 80px;
        height: 80px;
        border-radius:50%;
        box-shadow: 0px 10px 20px #e9e9ea;
        outline:none;
        cursor:pointer;
        transition:0.5s all;
    }
    .cross-btn:hover{
        background-color: #FFE7EF;
        box-shadow: 0px 10px 20px #EDD9DF;
    }
    .heart-btn:hover{
        background-color: #DBFFF4;
        box-shadow: 0px 10px 20px #CCF1E6;
    }
    
    .end-text{
        margin-top:50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap:40px;
    }
    
    .final-img{
        width: 20px;
    }